html {
  font-family: 'Lato', sans-serif;

}

h1, h2,
h3, h4,
h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 1100px;
  padding: 10px;
}

.image-wrapper {
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
}

.home-image {
  width: 15%;
}

.search-wrapper {
  margin-top: 75px;
  margin-bottom: 75px;
}

.search-bar {
  width: 100%;
  font-size: 19px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #F3F3F3;
  box-shadow: 0px 0px 7px 4px #F3F3F3;
  transition: all .15s ease;
}

.search-bar:focus {
  box-shadow: 0px 0px 7px 4px rgb(212, 212, 212);
}

.home-search {
  padding: 20px;
}

.search-wrapper p {
  text-align: end;
  color: #ababab;
}

.recent-wrapper {
  margin-top: 100px;
  margin-bottom: 75px;
}

.recent-posts-heading {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #0079FF;
}

.recent-posts {
  display: flex;
  flex-wrap: wrap;
}

.recent-posts div {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 60px;
  color: #ababab
}

.recent-posts div a {
  color: #4a4a4a;
  text-decoration: none;
}

.result-search {
  padding: 10px;
}

.results-image {
  width: 80px;
}

.results-wrapper {
  margin-top: 75px;
  margin-bottom: 75px;
}

.result {
  margin-top: 42px;
  margin-bottom: 42px;
}

.result a {
  color: #0079FF;
  text-decoration: none;
  font-size: 19px;
}

.result p {
  font-size: 19px;
  color: #4a4a4a;
  margin-top: 12px;
  margin-bottom: 12px;
}

.result-info {
  display: flex;
  flex-wrap: wrap;
}

.result-info div {
  width: 250px;
  color: #4a4a4a;
  margin-bottom: 10px;
  margin-top: 10px;
}